.index-body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .c1-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 9vw;
    background-image: url(../images/index/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;

    @media all and (max-width: 1680px) {
      min-height: 75vh;
      height: 77vh;
    }

    @media all and (max-width: 1440px) {
      padding-top: 13vw;
      height: 100vh;
    }

    @media all and (max-width: 1366px) {
      padding-top: 10vw;
    }

    @media all and (max-width: 1024px) {
      height: calc(var(--vh, 2.8vh) * 100);
      padding-top: 17vw !important;
      overflow: hidden;
    }

    @media all and (max-width: 500px) {
      padding-top: 20vw !important;
      height: calc(var(--vh, 2.8vh) * 75);
      min-height: calc(var(--vh, 2.8vh) * 75);
    }

    @media all and (max-width: 414px) {
      min-height: calc(var(--vh, 2.8vh) * 86);
    }

    .left-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 3vw;
      top: 9vw;

      @media all and (max-width: 1440px) {
        top: 13vw;
      }
      @media all and (max-width: 1366px) {
        top: 10vw;
      }
      @media all and (max-width: 1024px) {
        display: none;
      }

      .icon-box {
        display: flex;
        flex-direction: column;
        .item-box {
          width: 1.5vw;
          height: 1.5vw;
          margin-bottom: 1.2vw;
          z-index: 10;
          position: relative;
          cursor: pointer;
          a {
            position: relative;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }

        .gray-fb,
        .gray-line,
        .gray-yt {
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 2;
        }

        .color-fb,
        .color-line,
        .color-yt {
          position: relative;
          top: 0px;
          left: 0px;
          opacity: 0;
        }
      }
      .text-box {
        display: flex;
        writing-mode: tb-rl;
        color: white;
        font-family: "微軟正黑體";
        font-size: $font-17;
        div {
          // margin-top: 1vw;
          letter-spacing: 0.2em;
          align-self: center;
        }
      }
    }
    .center-box {
      width: 100%;
      display: flex;
      height: 29vw;
      // justify-content: center;
      position: relative;
      flex-direction: column;
      margin: 0 auto;

      @media all and (max-width: 1024px) {
        height: auto;
      }

      .video-box {
        position: relative;
        display: flex;
        justify-content: center;
        width: 85%;
        margin: 0 auto;
        height: 100%;

        @media all and (max-width: 1024px) {
          position: relative;
          top: initial;
          left: initial;
          width: 80%;
          display: block;
          overflow: hidden;
        }

        @media all and (max-width: 500px) {
          width: 85%;
        }

        img {
          position: absolute;
          top: 0px;
          left: 0px;
          object-fit: cover;
          height: 100%;
          width: 100%;
          // border-radius: 3vw;

          @media all and (max-width: 1024px) {
            position: relative;
            top: initial;
            left: initial;
            height: initial;
          }
        }

        .first-bg {
          z-index: 2;
          // opacity: 0;
          filter: grayscale(1) contrast(0.8);
        }
        .second-bg {
          z-index: 1;
          opacity: 0;

          @media all and (max-width: 1024px) {
            position: absolute;
            left: 0px;
            top: 0px;
            object-fit: cover;
          }
        }

        video {
          position: absolute;
          top: 4.1vw;
          right: -4vw;
          width: 66%;
          z-index: 99;
          mix-blend-mode: overlay;
          -webkit-mask-image: url(../images/index/tree_mask.png);
          mask-image: url(../images/index/tree_mask.png);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 100%;
          mask-size: 100%;
          opacity: 0.6;

          @media all and (max-width: 1024px) {
            width: 95%;
            top: 64%;
            right: -19%;
          }

          @media all and (max-width: 500px) {
            top: 66%;
          }
        }
      }
    }
    .tree {
      position: absolute;
      width: 55vw;
      top: 13.5%;
      right: 2%;
      z-index: 10;

      @media all and (max-width: 1024px) {
        width: 80%;
        top: 63.5%;
        right: -8%;
      }

      @media all and (max-width: 500px) {
        top: 66%;
      }
    }

    .title-box {
      position: absolute;
      color: #dda868;
      font-size: 3.1vw;
      font-family: "Cormorant Garamond";
      text-align: right;
      line-height: 1.2;
      right: 7vw;
      bottom: 4vw;
      @media all and (max-width: 1920px) {
        bottom: 4%;
      }

      @media all and (max-width: 1680px) {
        bottom: 13%;
      }

      @media all and (max-width: 1440px) {
        bottom: 8%;
      }

      @media all and (max-width: 1024px) {
        font-size: $font-mobile-45;
        right: 10vw;
        bottom: 2%;
      }

      @media all and (max-width: 500px) {
        right: 8vw;
        bottom: 5%;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // margin-top: -7vw;
    width: 100%;
    position: relative;
    padding-bottom: 8vw;
    overflow: hidden;
    background-color: #d8d8d8;
    height: 100vh;

    // @media all and (max-width: 1680px) {
    //   min-height: 75vh;
    //   height: 80vh;
    // }

    @media all and (max-width: 1024px) {
      height: calc(var(--vh, 2.8vh) * 100);
    }

    @media all and (max-width: 500px) {
      height: auto;
      min-height: calc(var(--vh, 2.8vh) * 66);
    }

    @media all and (max-width: 375px) {
      height: calc(var(--vh, 2.8vh) * 60);
      min-height: 570px;
    }

    .david-ogivy-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      padding-top: 11vw;
      // padding-bottom: 10vw;
      padding-left: 17%;
      @media all and (max-width: 1440px) {
        padding-top: 14vw;
      }
      @media all and (max-width: 1024px) {
        padding-top: 10vw;
        padding-left: 8vw;
        padding-right: 6vw;
      }
      .title-box {
        display: flex;

        flex-direction: column;
        margin-bottom: 3vw;
        opacity: 0;
        @media all and (max-width: 1024px) {
          opacity: 1;
          flex-direction: column-reverse;
          justify-content: center;
          margin: 0 auto;
        }
        .en-title {
          @include indexENtitle();
          color: #232323;
          margin-right: 3vw;
          @media all and (max-width: 1024px) {
            color: #232323;
            margin-right: 0vw;
            margin-top: 1.5vw;
          }
        }

        .zh-title {
          color: #232323;
          font-size: $font-30;
          font-family: "Noto Serif TC";
          letter-spacing: 0.3em;
          display: inline-block;
          position: relative;
          font-weight: 500;

          .title {
            display: inline-block;
            padding-bottom: 0.3vw;
            position: relative;
            @media all and (max-width: 1024px) {
              font-size: $font-mobile-40;
              letter-spacing: 0.4em;
              padding-bottom: 2vw;
            }
            &:after {
              content: " ";
              position: absolute;
              bottom: 0%;
              left: 0px;
              width: calc(100% - 0.3em);
              height: 1px;
              background-color: #232323;
              pointer-events: none;
            }
          }
        }
      }

      .bottom-content-box {
        display: flex;
        justify-content: space-between;
        width: 80%;
        @media all and (max-width: 1024px) {
          flex-direction: column;
          margin-top: 6vw;
          width: 100%;
        }

        @media all and (max-width: 500px) {
          margin-top: 10vw;
        }
        .left-box {
          .smaill-title {
            color: #232323;
            font-size: $font-18;
            font-family: "Cormorant Garamond";
            position: relative;
            font-weight: bold;
            opacity: 0;
            @media all and (max-width: 1024px) {
              opacity: 1;
              font-size: $font-mobile-27;
              font-weight: 500;
            }

            &:after {
              content: " ";
              position: absolute;
              bottom: 40%;
              left: 7.1vw;
              width: 4%;
              height: 2px;
              background-color: #232323;
              pointer-events: none;

              @media all and (max-width: 1440px) {
                height: 1px;
              }

              @media all and (max-width: 1024px) {
                left: 24.5vw;
                width: 7%;
              }
            }
          }

          .black-box {
            font-family: "Cormorant Garamond";
            font-size: 2.2vw;
            display: flex;
            position: relative;
            flex-direction: column;
            margin-top: 1.5vw;
            line-height: 1.4;

            @media all and (max-width: 1024px) {
              display: none;
            }

            .black1 {
              color: #232323;
              z-index: 1;
              .clip-text {
                div {
                  div {
                    clip-path: inset(100% 0% 0% 0%);
                  }
                }
              }
            }
            .black2 {
              color: #232323;
              z-index: 1;
              .clip-text {
                div {
                  div {
                    clip-path: inset(100% 0% 0% 0%);
                  }
                }
              }
            }
            .black3 {
              z-index: 1;
              color: #232323;
              .clip-text {
                div {
                  div {
                    clip-path: inset(100% 0% 0% 0%);
                  }
                }
              }
            }
            .black4 {
              z-index: 1;
              color: #232323;
              .clip-text {
                div {
                  div {
                    clip-path: inset(100% 0% 0% 0%);
                  }
                }
              }
            }

            .gold-box {
              font-family: "Cormorant Garamond";
              font-size: 2.2vw;
              display: flex;
              position: absolute;
              flex-direction: column;
              color: #b78044;
              top: 0px;
              left: 0px;
              .gold1 {
                z-index: 10;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .gold2 {
                z-index: 10;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .gold3 {
                z-index: 10;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .gold4 {
                z-index: 10;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
            }

            .black2-box {
              font-family: "Cormorant Garamond";
              font-size: 2.2vw;
              display: flex;
              position: absolute;
              flex-direction: column;
              top: 0px;
              left: 0px;

              .black2-1 {
                z-index: 20;
                color: #232323;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .black2-2 {
                z-index: 20;
                color: #232323;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .black2-3 {
                z-index: 20;
                color: #232323;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
              .black2-4 {
                color: #232323;
                z-index: 20;
                .clip-text {
                  div {
                    div {
                      clip-path: inset(100% 0% 0% 0%);
                    }
                  }
                }
              }
            }
          }

          .mobile-black-box {
            display: none;

            @media all and (max-width: 1024px) {
              display: flex;
              font-family: "Cormorant Garamond";
              font-size: $font-mobile-33;
              flex-direction: column;
              margin-top: 1.5vw;
              line-height: 1.5;
              color: #232323;
            }

            @media all and (max-width: 500px) {
              margin-top: 3vw;
            }
          }
        }
        .center-box {
          padding-top: 6.5vw;
          opacity: 0;
          display: none;
          @media all and (max-width: 1024px) {
            opacity: 1;
            text-align: center;
            padding-top: 6vw;
          }
          img {
            width: 2vw;
            @media all and (max-width: 1024px) {
              width: 6vw;
            }
          }
        }

        .right-box {
          opacity: 0;
          margin-top: -4vw;
          @media all and (max-width: 1024px) {
            opacity: 1;
          }
          .zh-content {
            @include indexContent();
            font-size: $font-18;
            font-weight: 500;
            color: #232323;
            margin-top: 2.5vw;

            @media all and (max-width: 1024px) {
              margin-top: 10vw;
              display: flex;
              flex-direction: column;
              letter-spacing: 0.25em;
            }

            div {
              position: relative;
              padding-bottom: 0.8vw;
              margin-bottom: 0.8vw;

              @media all and (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                margin-bottom: 2vw;
              }

              &:after {
                content: " ";
                position: absolute;
                bottom: 0%;
                left: 0vw;
                width: 100%;
                height: 2px;
                background-color: #848484;
                pointer-events: none;

                @media all and (max-width: 1680px) {
                  height: 1px;
                }

                @media all and (max-width: 1024px) {
                  width: 97%;
                }
              }
            }
          }

          .more-box {
            z-index: 10;
            @include indexMore();
            cursor: pointer;
            margin-top: 3vw;
            display: flex;
            justify-content: left;
            @media all and (max-width: 1024px) {
              justify-content: center;
              margin-top: 6vw;
            }
            @media all and (max-width: 500px) {
              margin-top: 10vw;
            }
            div {
              display: flex;
              align-items: center;
            }
            a {
              color: #b78044;
              align-items: center;
            }
            img {
              width: 2vw;
              align-items: center;
              margin-left: 0.5vw;

              @media all and (max-width: 1024px) {
                width: 54px;
                margin-left: 3vw;
              }
              @media all and (max-width: 500px) {
                width: 6vw;
                min-width: 30px;
              }
            }
          }
        }
      }
    }

    .mountain {
      position: absolute;
      bottom: -1px;
      right: -5vw;
      width: 56%;
      z-index: 2;
      @media all and (max-width: 1024px) {
        width: 112vw;
        right: -10vw;
      }
    }

    .bg-bottom {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 100%;
      z-index: 1;
    }
  }

  .project-container {
    display: flex;
    width: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    padding-top: 8vw;
    padding-bottom: 8vw;
    padding-left: 10%;

    @media all and (max-width: 1024px) {
      height: auto;
      padding-left: 0%;
      overflow: hidden;
      padding-top: 10vw;
      padding-left: 8vw;
      padding-right: 8vw;
      padding-bottom: 10vw;
    }

    .project-bg {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .title-box {
      display: flex;
      flex-direction: column;
      @media all and (max-width: 1024px) {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        order: 1;
      }
      .en-title {
        @include indexENtitle();
        margin-right: 2vw;
        margin-top: -0.9vw;

        @media all and (max-width: 1024px) {
          margin-left: 0vw;
          color: #232323;
          margin-right: 0vw;
          margin-top: 1.5vw;
        }
      }
      .zh-title {
        color: #232323;
        font-size: $font-30;
        font-family: "Noto Serif TC";
        letter-spacing: 0.3em;
        display: inline-block;
        position: relative;
        font-weight: 500;

        @media all and (max-width: 1024px) {
          font-size: $font-mobile-40;
          letter-spacing: 0.4em;
          padding-bottom: 2vw;
          margin-left: 2vw;
        }
        .title {
          display: inline-block;
          padding-bottom: 0.3vw;
          position: relative;
          &:after {
            content: " ";
            position: absolute;
            bottom: 0%;
            left: 0px;
            width: calc(100% - 0.3em);
            height: 1px;
            background-color: #232323;
            pointer-events: none;
          }
        }
      }
      .project-line {
        width: 100%;
        margin-left: 29vw;

        @media all and (max-width: 1024px) {
          display: none;
        }
      }
    }

    .more-box {
      margin-top: 2vw;
      z-index: 2;
      cursor: pointer;
      @media all and (max-width: 1024px) {
        display: flex;
        align-items: center;
        order: 3;
        margin-top: 12vw;
        justify-content: center;
      }
      div {
        display: flex;
      }
      a {
        @include indexMore();
        color: #b78044;
        display: flex;

        .more-text {
          align-self: center;
          margin-right: 0.5vw;
          @media all and (max-width: 1024px) {
            margin-right: 3vw;
          }
        }
        .more-icon {
          width: 2vw;
          @media all and (max-width: 1024px) {
            width: 54px;
          }

          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }
      }
    }

    .swiper-box {
      width: 100%;
      display: flex;
      justify-content: right;
      margin-top: 7vw;
      @media all and (max-width: 1024px) {
        order: 2;
      }
      .project-swiper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            width: 100%;
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }

            .project-name {
              position: absolute;
              bottom: 0vw;
              padding-top: 0.4vw;
              padding-bottom: 0.4vw;
              padding-left: 1vw;
              width: 100%;
              @include indexContent();
              background-color: rgb(255, 255, 255, 0.9);
              color: #232323;
              font-weight: 600;
              @media all and (max-width: 1024px) {
                padding-top: 1.5vw;
                padding-bottom: 1.5vw;
                padding-left: 3vw;
              }
            }
          }
        }
        .swiper-prev {
          position: absolute;
          z-index: 10;
          left: 2vw;
          top: 8vw;
          cursor: pointer;
          width: 2vw;

          @media all and (max-width: 1024px) {
            width: 54px;
            left: 6%;
            top: 45%;
          }

          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-next {
          position: absolute;
          z-index: 10;
          right: 2vw;
          top: 8vw;
          width: 2vw;
          cursor: pointer;
          @media all and (max-width: 1024px) {
            width: 54px;
            right: 6%;
            top: 45%;
          }
          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-button-disabled {
          visibility: hidden;
          opacity: 0;
          transition: 1s ease-in-out;
        }
      }
    }
  }

  .news-container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #d8d8d8;
    padding-top: 11vw;
    padding-bottom: 8vw;
    padding-left: 10%;
    justify-content: space-between;
    @media all and (max-width: 1024px) {
      flex-direction: column;
      // height: auto;
      padding-left: 0%;
      overflow: hidden;
      padding-top: 10vw;
      padding-left: 8vw;
      padding-right: 8vw;
      padding-bottom: 35vw;
      justify-content: initial;
    }
    .news-mountain {
      position: absolute;
      width: 55%;
      left: 0px;
      bottom: 8.03vw;
      z-index: 5;
      @media all and (max-width: 1024px) {
        width: 100vw;
        bottom: 0vw;
      }
    }

    .title-box {
      display: flex;
      flex-direction: column;
      z-index: 9;
      @media all and (max-width: 1024px) {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
      }
      .en-title {
        @include indexENtitle();
        margin-right: 2vw;
        margin-top: -0.9vw;
        color: #232323;
        @media all and (max-width: 1024px) {
          margin-left: 0vw;
          color: #232323;
          margin-right: 0vw;
          margin-top: 1.5vw;
        }
      }
      .zh-title {
        @include indexZHtitle();
        color: #232323;
        display: inline-block;
        flex-direction: column;
        position: relative;
        padding-bottom: 0.3vw;
        @media all and (max-width: 1024px) {
          padding-bottom: 2vw;
          margin-left: 2vw;
        }
        &:after {
          content: " ";
          position: absolute;
          bottom: 3%;
          left: 0px;

          background-color: black;
          pointer-events: none;
          @media all and (max-width: 1024px) {
            height: 1px;
            bottom: 0%;
            width: calc(100% - 0.3em);
          }
        }
      }
      .more-box {
        margin-top: 2vw;
        z-index: 2;
        cursor: pointer;
        @media all and (max-width: 1024px) {
          display: none;
          align-items: center;
          order: 3;
          margin-top: 12vw;
          justify-content: center;
        }
        div {
          display: flex;
        }
        a {
          @include indexMore();
          color: #b78044;
          display: flex;

          .more-text {
            align-self: center;
            margin-right: 0.5vw;
            @media all and (max-width: 1024px) {
              margin-right: 3vw;
            }
          }
          .more-icon {
            width: 2vw;
            @media all and (max-width: 1024px) {
              width: 54px;
            }

            @media all and (max-width: 500px) {
              width: 6vw;
              min-width: 30px;
            }
          }
        }
      }
    }
    .swiper-box {
      width: 80%;
      display: flex;
      z-index: 10;
      margin-top: 2vw;
      justify-content: right;
      margin-left: 12vw;
      @media all and (max-width: 1024px) {
        margin-left: 0vw;
        width: 100%;
        margin-top: 7vw;
      }
      .news-swiper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            img {
              width: 100%;
              height: 100%;
            }
            a {
              display: flex;
              flex-direction: column;
            }
            .news-box {
              display: flex;
              flex-direction: column;
              background-image: url(../images/index/swiper_bg.png);
              background-repeat: no-repeat;
              background-size: cover;
              padding: 0.8vw 1.1vw;
              padding-bottom: 1.1vw;
              @media all and (max-width: 1024px) {
                padding: 2vw 3vw;
                padding-bottom: 2.7vw;
              }
              .news-date-box {
                display: flex;
                align-items: center;
                margin-bottom: 0.7vw;
                @media all and (max-width: 1024px) {
                  margin-bottom: 1vw;
                }
                .year {
                  font-size: $font-14;
                  font-family: "Noto Serif TC";
                  letter-spacing: 0.3em;
                  color: #232323;
                  font-weight: 500;
                  margin-right: 0.4vw;
                  @media all and (max-width: 1024px) {
                    font-size: $font-mobile-24;
                    font-weight: initial;
                  }
                }
                .date {
                  font-size: $font-18;
                  font-family: "Noto Serif TC";
                  letter-spacing: 0.15em;
                  color: #232323;
                  @media all and (max-width: 1024px) {
                    font-size: $font-mobile-24;
                  }
                }
              }

              .news-name {
                font-size: $font-18;
                font-family: "Noto Serif TC";
                letter-spacing: 0.15em;
                color: #232323;
                font-weight: 600;
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .swiper-prev {
          position: absolute;
          z-index: 10;
          left: 3vw;
          top: 13.5vw;
          cursor: pointer;
          width: 2vw;
          @media all and (max-width: 1024px) {
            width: 54px;
            left: 6%;
            top: 45%;
          }
          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-next {
          position: absolute;
          z-index: 10;
          right: 11vw;
          top: 13.5vw;
          width: 2vw;
          cursor: pointer;
          @media all and (max-width: 1024px) {
            width: 54px;
            right: 6%;
            top: 45%;
          }
          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-button-disabled {
          visibility: hidden;
          opacity: 0;
          transition: 1s ease-in-out;
        }
      }
    }

    .mobile-more-box {
      margin-top: 2vw;
      z-index: 2;
      cursor: pointer;
      display: none;
      @media all and (max-width: 1024px) {
        display: flex;
        align-items: center;
        order: 3;
        margin-top: 12vw;
        justify-content: center;
      }
      div {
        display: flex;
      }
      a {
        @include indexMore();
        color: #b78044;
        display: flex;

        .more-text {
          align-self: center;
          margin-right: 0.5vw;
          @media all and (max-width: 1024px) {
            margin-right: 3vw;
          }
        }
        .more-icon {
          width: 2vw;
          @media all and (max-width: 1024px) {
            width: 54px;
          }

          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }
      }
    }
  }

  .index-join-container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    background-image: url(../images/index/join_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media all and (max-width: 1680px) {
      min-height: 67vh;
      height: 77vh;
    }

    @media all and (max-width: 1024px) {
      height: 70vh;
      background-image: url(../images/index/join_bg_mobile.webp);
    }

    @media all and (max-width: 500px) {
      height: auto;
      min-height: initial;
      padding-bottom: 8vw;
    }

    .index-join-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media all and (max-width: 1024px) {
        position: initial;
        top: initial;
        left: initial;
        width: 100%;
        text-align: center;
        transform: initial;
        padding-top: 12vw;
      }

      @media all and (max-width: 500px) {
        padding-top: 8vw;
      }
    }

    .title-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2vw;
      @media all and (max-width: 1024px) {
        flex-direction: column-reverse;
        margin-bottom: 7vw;
      }
      .en-title {
        @include indexENtitle();
        color: #dda868;
        margin-bottom: 1vw;
        @media all and (max-width: 1024px) {
          margin-left: 0vw;
          margin-right: 0vw;
          margin-top: 1.5vw;
        }
      }

      .zh-title {
        color: #fff;
        font-size: $font-30;
        font-family: "Noto Serif TC";
        letter-spacing: 0.3em;
        display: inline-block;
        position: relative;
        font-weight: 500;
        padding-bottom: 0.3vw;
        @media all and (max-width: 1024px) {
          @include indexZHtitle();
          padding-bottom: 2vw;
          margin-left: 2vw;
        }
        &:after {
          content: " ";
          position: absolute;
          bottom: 0%;
          left: 0px;
          width: calc(100% - 0.3em);
          height: 1px;
          background-color: #fff;
          pointer-events: none;
        }
      }
    }

    .content {
      font-size: $font-18;
      font-family: "Noto Serif TC";
      letter-spacing: 0.4em;
      color: #fff;
      margin-bottom: 4vw;
      text-align: center;
      line-height: 2.1;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }
    .content-mobile {
      display: none;

      @media all and (max-width: 1024px) {
        display: flex;
        font-size: $font-mobile-30;
        font-family: "Noto Serif TC";
        letter-spacing: 0.4em;
        color: #fff;
        font-weight: 500;
        margin-bottom: 8vw;
        justify-content: center;
        line-height: 2;
      }
    }

    .more-box {
      z-index: 10;
      @include indexMore();
      cursor: pointer;
      align-items: center;
      display: flex;
      justify-content: center;
      div {
        display: flex;
        align-items: center;
      }
      a {
        color: white;
      }
      img {
        width: 2vw;
        margin-left: 0.5vw;
        @media all and (max-width: 1024px) {
          width: 54px;
          margin-left: 3vw;
        }
        @media all and (max-width: 500px) {
          width: 6vw;
          min-width: 30px;
        }
      }
    }
  }

  .news2-container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    background-image: url(../images/index/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12vw;
    padding-bottom: 12vw;
    background-color: #ffffff;

    @media all and (max-width: 1680px) {
      padding-top: 13vw;
      padding-bottom: 18vw;
    }

    @media all and (max-width: 1024px) {
      height: auto;
      padding-left: 0%;
      overflow: hidden;
      padding-top: 10vw;
      padding-left: 8vw;
      padding-right: 8vw;
      padding-bottom: 16vw;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 23vw;
    }

    .left-swiper-box {
      display: flex;
      width: 35%;

      @media all and (max-width: 1024px) {
        display: none;
      }

      .left-swiper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            img {
              width: 100%;
            }
          }
        }

        .left-swiper-prev {
          position: absolute;
          z-index: 10;
          left: 3vw;
          top: 10.5vw;
          cursor: pointer;
          width: 2vw;
        }

        .left-swiper-next {
          position: absolute;
          z-index: 10;
          right: 3vw;
          top: 10.5vw;
          width: 2vw;
          cursor: pointer;
        }
      }
    }

    .title-box {
      padding-top: 4vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      @media all and (max-width: 1024px) {
        padding-top: 0vw;
        order: 1;
      }
      .title {
        display: flex;
        flex-direction: column;
        @media all and (max-width: 1024px) {
          flex-direction: column-reverse;
          display: flex;
          align-items: center;
        }
        .en-title {
          @include indexENtitle();

          margin-top: 0vw;
          @media all and (max-width: 1024px) {
            display: none;
          }
        }

        .en-title-mobile {
          @include indexENtitle();
          display: none;
          @media all and (max-width: 1024px) {
            display: flex;
            margin-right: 0vw;
            margin-top: 1.5vw;
          }
        }
        .zh-title {
          @include indexZHtitle();
          color: #232323;
          padding-bottom: 0.3vw;
          @media all and (max-width: 1024px) {
            padding-bottom: 2vw;
            margin-left: 2vw;
          }
          &:after {
            content: " ";
            position: absolute;
            bottom: 3%;
            left: 0px;

            background-color: #232323;
            pointer-events: none;
            @media all and (max-width: 1024px) {
              height: 1px;
              bottom: 0%;
              width: calc(100% - 0.3em);
            }
          }
        }
      }
      .more-box {
        z-index: 2;
        margin: 0 auto;
        margin-top: 2vw;
        cursor: pointer;

        @media all and (max-width: 1024px) {
          padding-top: 0vw;
          order: 3;
          display: none;
        }

        div {
          display: flex;
        }
        a {
          @include indexMore();
          color: #b78044;
          display: flex;

          .more-text {
            align-self: center;
            margin-right: 0.5vw;
            @media all and (max-width: 1024px) {
              margin-right: 3vw;
            }
          }
          .more-icon {
            width: 2vw;
            @media all and (max-width: 1024px) {
              width: 54px;
            }
            @media all and (max-width: 500px) {
              width: 6vw;
              min-width: 30px;
            }
          }
        }
      }
    }

    .right-swiper-box {
      display: flex;
      width: 35%;
      padding-top: 6.5vw;

      @media all and (max-width: 1024px) {
        display: none;
      }

      .right-swiper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            img {
              width: 100%;
            }
          }
        }
      }
    }

    .mobile-swiper-box {
      width: 100%;

      justify-content: right;
      margin-top: 9vw;
      display: none;
      @media all and (max-width: 1024px) {
        order: 2;
        display: flex;
      }
      .mobile-news2-swiper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            width: 100%;
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }

            .project-name {
              position: absolute;
              bottom: 0vw;
              padding-top: 0.4vw;
              padding-bottom: 0.4vw;
              padding-left: 1vw;
              width: 100%;
              background-color: rgb(117, 117, 117, 0.8);
              @include indexContent();
              @media all and (max-width: 1024px) {
                background-color: rgb(255, 255, 255, 0.9);
                color: #232323;
                font-weight: bold;
                padding-top: 1.5vw;
                padding-bottom: 1.5vw;
                padding-left: 3vw;
              }
            }
          }
        }
        .swiper-prev {
          position: absolute;
          z-index: 10;
          left: 2vw;
          top: 8vw;
          cursor: pointer;
          width: 2vw;

          @media all and (max-width: 1024px) {
            width: 54px;
            left: 6%;
            top: 45%;
          }
          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-next {
          position: absolute;
          z-index: 10;
          right: 2vw;
          top: 8vw;
          width: 2vw;
          cursor: pointer;
          @media all and (max-width: 1024px) {
            width: 54px;
            right: 6%;
            top: 45%;
          }
          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }

        .swiper-button-disabled {
          visibility: hidden;
          opacity: 0;
          transition: 1s ease-in-out;
        }
      }
    }

    .mobile-more-box {
      margin-top: 2vw;
      z-index: 2;
      cursor: pointer;
      display: none;
      @media all and (max-width: 1024px) {
        display: flex;
        align-items: center;
        order: 3;
        margin-top: 12vw;
        justify-content: center;
      }
      div {
        display: flex;
      }
      a {
        @include indexMore();
        color: #b78044;
        display: flex;

        .more-text {
          align-self: center;
          margin-right: 0.5vw;
          @media all and (max-width: 1024px) {
            margin-right: 3vw;
          }
        }
        .more-icon {
          width: 2vw;
          @media all and (max-width: 1024px) {
            width: 54px;
          }

          @media all and (max-width: 500px) {
            width: 6vw;
            min-width: 30px;
          }
        }
      }
    }
  }
}
