.join-us-body {
  background-color: #d8d8d8;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .join-us-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
    position: relative;
    @media all and (max-width: 1920px) {
      padding-top: 9vw;
    }
    @media all and (max-width: 1024px) {
      padding-top: 18vw;
      padding-bottom: 25vw;
    }
    .top-img-box {
      width: 85%;
      margin: 0 auto;
      position: relative;
      @media all and (max-width: 1024px) {
        width: 88%;
      }
      img {
        width: 100%;
        z-index: 1;
      }
    }

    .top-title-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      .big-zh-title {
        @include pageBigZHTitle();
      }

      .big-en-title {
        @include pageBigENTitle();
        margin-top: 1vw;
      }
    }

    .page-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin: 0 auto;
      @media all and (max-width: 1024px) {
        padding-top: 3.5vw;
      }
      .left-nav-box {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11vw;
        z-index: 10;
        left: 7.5vw;

        @media all and (max-width: 1024px) {
          flex-direction: row;
          position: initial;
          width: 70%;
          top: initial;
          left: initial;
          justify-content: space-evenly;
          margin: 0 auto;
          margin-top: 3vw;
          margin-bottom: 5vw;
        }

        .nav-item {
          font-size: $font-18;
          letter-spacing: 0.4em;
          color: #232323;
          font-weight: 600;
          margin-bottom: 1vw;
          font-family: "Noto Serif TC";
          cursor: pointer;
          padding: 0.3vw 0.25vw 0.4vw 0.65vw;
          @media all and (max-width: 1024px) {
            font-size: $font-mobile-30;
            position: relative;
            color: #757575;
            margin-right: 7vw;
            letter-spacing: 0.15em;

            &:after {
              content: " ";
              position: absolute;
              bottom: 16%;
              left: 26vw;
              height: calc(100% - 0.6em);
              width: 1.6px;
              background-color: #434343;
              pointer-events: none;
              @media all and (max-width: 500px) {
                width: 1px;
              }
            }
          }

          &:nth-child(2) {
            margin-right: 0vw;
            &:after {
              display: none;
            }
          }
        }

        .tab-active {
          background-color: #434343;
          color: white;
          @media all and (max-width: 1024px) {
            background-color: initial;
            color: #757575;
          }
        }
      }

      .benefits-box {
        display: none;
        display: flex;
        flex-direction: column;
        .wonderful-box {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: 4vw;
          text-align: center;

          @media all and (max-width: 1024px) {
            margin-top: 0vw;
          }

          .title-box {
            display: flex;
            flex-direction: column;

            .zh-title {
              @include pageZHTitle();
              @media all and (max-width: 1024px) {
                display: none;
              }
            }

            .zh-title-mobile {
              @include pageZHTitle();
              display: none;
              @media all and (max-width: 1024px) {
                display: flex;
                justify-content: center;
              }
            }
            .en-title {
              @include pageENTitle();
            }
          }

          .content {
            @include pageContent();
            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .content-mobile {
            @include pageContent();
            display: none;
            @media all and (max-width: 1024px) {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 88%;
              text-align: justify;
              margin: 0 auto;
              margin-top: 5vw;
            }
          }

          .join-us-img1 {
            margin: 0 auto;
            width: 60%;
            margin-top: 5vw;
            @media all and (max-width: 1024px) {
              width: 88%;
              margin-top: 7vw;
            }
          }
        }
        .together-box {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: 4vw;
          text-align: center;
          @media all and (max-width: 1024px) {
            margin-top: 7vw;
          }
          .title-box {
            display: flex;
            flex-direction: column;

            .zh-title {
              @include pageZHTitle();
            }

            .en-title {
              @include pageENTitle();
            }
          }

          .content {
            @include pageContent();
            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .content-mobile {
            @include pageContent();
            display: none;
            @media all and (max-width: 1024px) {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 88%;
              text-align: justify;
              margin: 0 auto;
              margin-top: 5vw;
            }
          }
        }
        .swiper-box {
          display: flex;
          width: 100%;
          margin-top: 1vw;
          margin-bottom: 15vw;
          overflow: hidden;
          @media all and (max-width: 1024px) {
            width: 88%;
            margin: 0 auto;
            margin-top: 7vw;
            margin-bottom: 13vw;
          }

          .swiper-slide {
            text-align: center;
            font-size: $font-18;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            transition: all 0.6s ease;

            &.swiper-slide-active {
              transform: scale(1.4);
              z-index: 2;
              @media all and (max-width: 1024px) {
                transform: initial;
              }
            }
          }
        }

        .bk-slider {
          position: relative;
          width: 70%;
          display: flex;
          height: auto;
          justify-content: center;
          margin: 0 auto;
          padding-top: 5%;
          padding-bottom: 5%;
          @media all and (max-width: 1024px) {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 100%;
          }
        }

        .swiper {
          width: 100%;
          height: 100%;
          overflow: visible;
        }

        .swiper-wrapper {
          width: 100%;
        }

        .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px;
          transition: all 0.3s ease;

          img {
            width: 100%;
            height: 100%;
          }
          &.swiper-slide-active {
            transform: scale(1.4);
            z-index: 2;
            @media all and (max-width: 1024px) {
              transform: initial;
            }
          }
        }

        .swiper-controller {
          .slider-controller {
            .prev1 {
              position: absolute;
              top: 6vw;
              left: 20vw;
              z-index: 999;
              cursor: pointer;
              @media all and (max-width: 1024px) {
                left: 6%;
                top: 45%;
              }

              img {
                width: 2vw;
                @media all and (max-width: 1024px) {
                  width: 54px;
                  opacity: 0.7;
                }
                @media all and (max-width: 500px) {
                  width: 6vw;
                  min-width: 30px;
                }
              }
            }
            .next1 {
              position: absolute;
              top: 6vw;
              right: 20vw;
              z-index: 999;
              cursor: pointer;
              @media all and (max-width: 1024px) {
                right: 6%;
                top: 45%;
              }
              img {
                width: 2vw;
                @media all and (max-width: 1024px) {
                  width: 54px;
                  opacity: 0.7;
                }
                @media all and (max-width: 500px) {
                  width: 6vw;
                  min-width: 30px;
                }
              }
            }
          }
        }
        .swiper-pagination-horizontal {
          bottom: -1vw;
        }
        .swiper-pagination-bullet {
          background-color: white;
          width: 1.7vw;
          height: 0.17vw;
          border-radius: 0px;
          margin-right: 0.1vw;
        }
      }

      .recruitment-box {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 4vw;
        text-align: center;
        display: none;
        .mountain {
          position: absolute;
          bottom: 0px;
          width: 100%;
          left: 0px;
        }
        .title-box {
          display: flex;
          flex-direction: column;

          .zh-title {
            @include pageZHTitle();
          }

          .en-title {
            @include pageENTitle();
          }
        }

        .content {
          @include pageContent();
          @media all and (max-width: 1024px) {
            display: none;
          }
        }

        .content-mobile {
          @include pageContent();
          display: none;
          @media all and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 88%;
            text-align: justify;
            margin: 0 auto;
            margin-top: 5vw;
          }
        }

        .link-104 {
          margin-top: 2.5vw;
          @media all and (max-width: 1024px) {
            margin-top: 8vw;
          }
          a {
            text-decoration: none;
            font-size: $font-18;
            font-weight: 500;
            font-family: "Noto Serif TC";
            letter-spacing: 0.3em;
            color: white;
            background-color: #434343;
            padding: 0.3vw 0.8vw 0.4vw 1.2vw;
            @media all and (max-width: 1024px) {
              font-size: $font-mobile-30;
              letter-spacing: 0.35em;
              padding: 2vw 3.5vw;
              padding-left: 4.5vw;
            }
          }
        }

        .recruitment-form-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          margin-top: 5vw;
          width: 45%;
          min-width: 900px;
          @media all and (max-width: 1440px) {
            min-width: 700px;
          }
          @media all and (max-width: 1024px) {
            margin-top: 14vw;
            min-width: initial;
            width: 88%;
            margin-bottom: 24vw;
          }
          .form-box {
            background-color: rgb(rgb(255, 255, 255), 0.5);
            display: flex;
            padding: 3.5vw 4vw;
            flex-direction: column;
            padding-bottom: 18vw;

            @media all and (max-width: 1024px) {
              padding: 7vw 5vw;
              padding-bottom: 30vw;
            }
            .input-box {
              display: flex;
              margin-bottom: 1.5vw;
              position: relative;
              justify-content: center;
              @media all and (max-width: 1440px) {
                margin-bottom: 2vw;
              }
              @media all and (max-width: 1024px) {
                margin-bottom: 7vw;
                justify-content: left;
              }
              .input-title {
                color: #232323;
                letter-spacing: 0.2em;
                font-weight: 600;
                font-family: "Noto Serif TC";
                font-size: $font-18;
                width: 16%;
                text-align: justify;
                display: block;
                text-align-last: justify;
                align-self: center;
                @media all and (max-width: 1920px) {
                  width: 15%;
                }
                @media all and (max-width: 1440px) {
                  width: 13%;
                }
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  width: 27%;
                }
              }

              span {
                color: #ff0000;
                font-size: $font-20;
                padding-top: 0.4vw;
                margin-left: 0.1vw;
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  padding-top: 0.8vw;
                  margin-left: 1vw;
                }
                @media all and (max-width: 500px) {
                  padding-top: 0vw;
                }
              }

              input {
                background-color: rgb(rgb(255, 255, 255), 0.5);
                border: none;
                width: 75%;
                margin-left: 1.5vw;
                line-height: 2.3vw;
                align-self: center;
                color: #232323;
                letter-spacing: 0.2em;
                font-size: $font-17;
                font-family: "Noto Serif TC";
                padding-left: 1vw;
                @media all and (max-width: 1920px) {
                  margin-left: 2vw;
                }
                @media all and (max-width: 1440px) {
                  width: 72%;
                }
                @media all and (max-width: 1366px) {
                  width: 68%;
                }
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  width: 65%;
                  line-height: 7vw;
                  margin-left: 4vw;
                  padding-left: 2vw;
                }

                @media all and (max-width: 500px) {
                  padding-left: 3vw;
                  line-height: 2;
                }
              }

              .select-box {
                background-color: rgb(rgb(255, 255, 255), 0.5);
                width: 75%;
                margin-left: 1.5vw;
                line-height: 2.3vw;
                @media all and (max-width: 1920px) {
                  margin-left: 2vw;
                }
                @media all and (max-width: 1440px) {
                  width: 72%;
                }
                @media all and (max-width: 1366px) {
                  width: 68%;
                }
                @media all and (max-width: 1024px) {
                  margin-left: 0vw;
                  width: 65%;
                  position: absolute;
                  left: 27vw;
                }
                @media all and (max-width: 500px) {
                  line-height: 1.7em;
                  width: 64.5%;
                  left: 27.5vw;
                }
                @media all and (max-width: 375px) {
                  line-height: 1.5em;
                }
                @media all and (max-width: 320px) {
                  line-height: 1.2em;
                }
                select {
                  border: none;
                  width: 100%;
                  color: #232323;
                  letter-spacing: 0.2em;
                  font-weight: 500;
                  font-size: $font-17;
                  font-family: "Noto Serif TC";
                  padding-top: 0.5vw;
                  padding-bottom: 0.5vw;
                  padding-left: 1vw;
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  background: url(../images/join_us/select_icon.svg) no-repeat
                    right 0.9em center;
                  background-size: 1em;
                  @media all and (max-width: 1024px) {
                    font-size: $font-mobile-30;
                    padding-left: 2vw;
                    background: url(../images/join_us/select_icon.svg) no-repeat
                      right 0.5em center;
                    background-size: 1em;
                  }
                }
              }
            }

            .select-input-box {
              @media all and (max-width: 1024px) {
                justify-content: left;
                margin-bottom: 7.5vw;
              }
              @media all and (max-width: 500px) {
                margin-bottom: 9vw;
              }
              span {
                @media all and (max-width: 500px) {
                  margin-top: -0.4vw;
                }
              }
            }

            .file-input-box {
              position: relative;
              width: 100%;
              input[type="file"] {
                width: 100%;
                margin-left: 2.4vw;
                display: none;
              }
              .file-input-label {
                width: 75%;
                cursor: pointer;
                background-color: rgb(rgb(255, 255, 255), 0.5);
                height: 2.3vw;
                align-self: center;
                color: #232323;
                letter-spacing: 0.15em;
                font-family: "Noto Serif TC";
                position: relative;
                margin-left: 2vw;
                text-align: left;
                @media all and (max-width: 1920px) {
                  margin-left: 2.5vw;
                }
                @media all and (max-width: 1440px) {
                  width: 72%;
                }
                @media all and (max-width: 1366px) {
                  width: 68%;
                }
                @media all and (max-width: 1024px) {
                  width: 66%;
                  margin-left: 6vw;
                  height: 7.3vw;
                }
                @media all and (max-width: 500px) {
                  height: 8.5vw;
                }
              }

              img {
                width: 1.5vw;
                position: absolute;
                right: 0.5vw;
                top: 0.45vw;
                cursor: pointer;
                @media all and (max-width: 1024px) {
                  width: 4.5vw;
                  right: 2vw;
                  top: 1.5vw;
                }
                @media all and (max-width: 500px) {
                  top: 2.1vw;
                }
              }

              .file-name {
                font-size: $font-17;
                color: #888;
                position: absolute;
                top: 0.1vw;
                overflow: hidden;
                left: 1vw;
                width: 85%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  top: 0vw;
                }
                @media all and (max-width: 500px) {
                  top: 1.2vw;
                  left: 2.3vw;
                }
              }
            }
            .textarea-box {
              display: flex;
              margin-bottom: 1.5vw;
              justify-content: center;
              @media all and (max-width: 1440px) {
                margin-bottom: 2vw;
              }
              @media all and (max-width: 1024px) {
                margin-bottom: 7vw;
                justify-content: left;
              }
              .input-title {
                color: #232323;
                letter-spacing: 0.2em;
                font-weight: 600;
                font-family: "Noto Serif TC";
                font-size: $font-18;
                width: 16%;
                text-align: justify;
                display: block;
                text-align-last: justify;
                @media all and (max-width: 1920px) {
                  width: 15%;
                }

                @media all and (max-width: 1440px) {
                  width: 13%;
                }

                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  width: 27%;
                }
              }
              textarea {
                background-color: rgb(rgb(255, 255, 255), 0.5);
                border: none;
                margin-left: 2vw;
                resize: none;
                font-size: $font-18;
                line-height: 1.5vw;
                height: 8vw;
                letter-spacing: 0.2em;
                width: 75%;
                font-family: "Noto Serif TC";
                padding-top: 0.3vw;
                padding-left: 1vw;

                @media all and (max-width: 1920px) {
                  margin-left: 2.5vw;
                }
                @media all and (max-width: 1440px) {
                  width: 72%;
                }
                @media all and (max-width: 1366px) {
                  width: 68%;
                }
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  width: 65%;
                  height: 25vw;
                  margin-left: 6vw;
                  padding-top: 0vw;
                  line-height: 6.5vw;
                  padding-left: 2vw;
                }

                @media all and (max-width: 500px) {
                  padding: 1vw 3vw;
                }

                &::placeholder {
                  color: #929292;
                  letter-spacing: 0.2em;
                  font-family: "Noto Serif TC";
                  font-size: $font-18;
                  @media all and (max-width: 1024px) {
                    font-size: $font-mobile-30;
                  }
                }
              }
            }

            .button-box {
              display: flex;
              justify-content: center;
              margin-top: 1.5vw;
              button {
                background-color: #434343;
                color: #ffffff;
                font-size: $font-18;
                font-weight: 500;
                font-family: "Noto Serif TC";
                padding: 0.4vw 1vw;
                padding-left: 1.3vw;
                letter-spacing: 0.3em;
                border: none;
                cursor: pointer;
                @media all and (max-width: 1024px) {
                  font-size: $font-mobile-30;
                  padding: 2vw 3.2vw;
                  padding-left: 4vw;
                }
              }
            }
          }
        }
      }
      .join-us-box {
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        opacity: 0;
      }
      .join-us-box.active {
        opacity: 1;
        display: flex;
      }
    }
  }
}
